body{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "article article article article"
    "article article article article";
    

}

#article{
    grid-area: article;
}

img{
    width: 250px;
    height: 250px;

}